﻿@{
    ViewBag.Title = "Inicio";
}
@if (Session["idUsuario"] != null && "1".Equals(Session["idRol"].ToString()))
{
    <h2>Bienvenido @Session["nombreUsuario"] </h2>
    <h3>Panel de Administracion</h3>
    <br><br>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Recursos/Imgenes/usuarios.png" alt="Usuarios... " height="100" width="100">
                <div class="caption">
                    <h2>Usuarios</h2>
                    <p>@Html.ActionLink("Ver Usuarios", "ListarUsuarios", "Cuenta", new { area = "" }, new { @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Recursos/Imgenes/ventas.png" alt="Ventas" height="100" width="100">
                <div class="caption">
                    <h2>Ventas</h2>
                    <p>@Html.ActionLink("Ventas", "Index", "Venta", new { area = "" }, new { @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Recursos/Imgenes/EditarUsuario.png" alt="Usuario" height="100" width="100">
                <div class="caption">
                    <h2>Mi Usuario</h2>
                    <p>@Html.ActionLink("Mi Usuario", "Details", "Cuenta", new { area = "" }, new { @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4"><br />
            <div class="thumbnail">
                <img src="~/Recursos/Imgenes/vehiculos.png" alt="Vehiculos" height="150" width="150">
                <div class="caption">
                    <h2>Vehiculos</h2>
                    <p>@Html.ActionLink("Vehiculos", "Index", "Vehiculo", new { area = "" }, new { @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>
    </div>
}
@if (Session["idUsuario"] != null && "2".Equals(Session["idRol"].ToString()))
{
    <h2>Bienvenido @Session["nombreUsuario"] </h2>
    <h3>Inicio</h3>
    <br><br>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Recursos/Imgenes/Reserva.png" alt="Reservas" height="100" width="100">
                <div class="caption">
                    <h2>Mis Reservas</h2>
                    <p>@Html.ActionLink("Ver", "Index", "Apartado", new { area = "" }, new { @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Recursos/Imgenes/compra.png" alt="Compras" height="100" width="100">
                <div class="caption">
                    <h2>Mis Compras</h2>
                    <p>@Html.ActionLink("Ver", "Index", "Venta", new { area = "" }, new { @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Recursos/Imgenes/EditarUsuario.png" alt="Usuario" height="100" width="100">
                <div class="caption">
                    <h2>Mi Usuario</h2>
                    <p>@Html.ActionLink("Mi Usuario", "Details", "Cuenta", new { area = "" }, new { @class = "btn btn-primary" })</p>
                </div>
            </div>
        </div>
    </div>
}
@if (Session["idUsuario"] == null)
{
            <h2>Por Favor, Inicie Sesion </h2>
            <div>
                @Html.ActionLink("Iniciar Sesion", "Login", "Cuenta")
            </div>
}
