﻿@model Autoventas.Models.Venta

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

<h3>En realidad quieres eliminarla?</h3>
<div>
    <h4>Compra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vehiculo.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehiculo.marca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vehiculo.modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehiculo.modelo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vehiculo.año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehiculo.año)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vehiculo.precio)
        </dt>

        <dd>
            Q @Html.DisplayFor(model => model.vehiculo.precio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.forma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.forma)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Cancelar", "Index")
        </div>
    }
</div>
