﻿@model Autoventas.Models.Venta

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Compra</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            @if (Model.vehiculo.archivos.Any(arch => arch.tipo == Autoventas.Models.FileType.Imagen))
            {
                <div>
                    Imagen
                </div>
                <div>
                    <img src="~/Archivo/ObtenerArchivo?id=@Model.vehiculo.archivos.First(f => f.tipo== Autoventas.Models.FileType.Imagen).idArchivo" alt="imagen" height="250" width="300">
                </div>
            }
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.vehiculo.marca)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.vehiculo.marca)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.vehiculo.modelo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.vehiculo.modelo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.vehiculo.año)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.vehiculo.año)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.fecha)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fecha)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.vehiculo.precio)
                </dt>

                <dd>
                    Q @Html.DisplayFor(model => model.vehiculo.precio)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.forma)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.forma)
                </dd>

            </dl>
        </div>
    </div>
    
</div>
<p> 
    @Html.ActionLink("Volver", "Index")
</p>
