﻿@model IEnumerable<Autoventas.Models.Venta>

@{
    ViewBag.Title = "Mis Compras";
}

@if (Session["idUsuario"] != null && "2".Equals(Session["idRol"].ToString()))
{
    <h2>Compras de @Session["nombreUsuario"]</h2>
    using (Html.BeginForm())
    {
        <p>
            Buscar por Marca: @Html.TextBox("search")
            <input type="submit" value="Buscar" />
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.vehiculo.marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiculo.modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiculo.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.forma)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (Session["idUsuario"].ToString() == item.usuario.idUsuario.ToString())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.vehiculo.marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vehiculo.modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vehiculo.precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.forma)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = item.idVenta })
                    </td>
                </tr>
            }
        }

    </table>
}
@if (Session["idUsuario"] != null && "1".Equals(Session["idRol"].ToString()))
{
    <h2>Ventas</h2>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.usuario.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiculo.marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiculo.modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiculo.precioCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiculo.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ganancia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.forma)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.usuario.nombre )
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vehiculo.marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vehiculo.modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vehiculo.precioCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vehiculo.precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ganancia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.forma)
                    </td>
                    <td>
                        @Html.ActionLink("Detalles", "Details", new { id = item.idVenta }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.idVenta })
                    </td>
                </tr>
        }

    </table>
    @Html.ActionLink("Generar Reporte", "Reporte", null, null)
}
@if (Session["idUsuario"] == null)
{
    <h2>Debe Iniciar Sesion</h2>

}
