﻿@model IEnumerable<Autoventas.Models.Usuario>

@{
    ViewBag.Title = "ListarUsuarios";
}

<h2>ListarUsuarios</h2>

<p>
    @Html.ActionLink("Crear Administrador", "CrearAdministrador")
</p>
@using (Html.BeginForm())
{
    <p>
        Buscar Por Nombre: @Html.TextBox("search")
        <input type="submit" value="Buscar" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contraseña)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contraseña)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rol.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idUsuario }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idUsuario }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.idUsuario })
        </td>
    </tr>
}

</table>
