﻿@model Autoventas.Models.Usuario

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

   <div class="row">
       <div class="col-md-6">
           <div class="form-horizontal">
               <h4>Ingresa tus Credenciales</h4>
               <hr />
               @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               @if (ViewBag.mensaje != null)
               {
                   <div class="form-group ">
                       <div class="alert-success ">
                           @ViewBag.mensaje
                       </div>
                   </div>
               }
               <div class="form-group">
                   @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-2" })
                   <div class="col-md-10">
                       @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                   </div>
               </div>

               <div class="form-group">
                   @Html.LabelFor(model => model.contraseña, htmlAttributes: new { @class = "control-label col-md-2" })
                   <div class="col-md-10">
                       @Html.EditorFor(model => model.contraseña, new { htmlAttributes = new { @class = "form-control" } })
                       @Html.ValidationMessageFor(model => model.contraseña, "", new { @class = "text-danger" })
                   </div>
               </div>
               <div class="form-group">
                   <div class="col-md-offset-2 col-md-10">
                       <input type="submit" value="Iniciar Sesion" class="btn btn-success" />
                   </div>
               </div>
           </div>
       </div>
       <div clss="col-md-4">
           <img src="~/Recursos/Imgenes/Inicio.gif" height="300" width="350">
       </div>
   </div>
}

<div>
    @Html.ActionLink("Regístrate", "Registro", "Cuenta")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
