﻿@model IEnumerable<Autoventas.Models.Apartado>

@{
    ViewBag.Title = "Index";
}

@if (Session["idUsuario"] != null)
{
    <h2>Vehiculos apartados por @Session["nombreUsuario"]</h2>
    using (Html.BeginForm())
    {
        <p>
            Buscar por Marca: @Html.TextBox("search")
            <input type="submit" value="Buscar" />
        </p>
    }
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.vehiculo.marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vehiculo.modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            if (Session["idUsuario"].ToString() == item.usuario.idUsuario.ToString())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.vehiculo.marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vehiculo.modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha)
                    </td>
                    <td>
                        @Html.ActionLink("Detalles", "Details", new { id = item.idApartado }) |
                        @Html.ActionLink("Pagar", "Venta", new { id = item.idApartado })
                    </td>
                </tr>
            }
        }

    </table>
}
@if (Session["idUsuario"] == null)
{
    <h2>Debe Iniciar Sesion</h2>

}