﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Autoventas Cars</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Recursos/Imgenes/AutoventasKars.png" height="30" width="200" align="left" hspace="10">
                @Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

                @Html.ActionLink("Vehiculos", "Catalogo", "Vehiculo", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            @if (Session["idUsuario"]== null)
            {
                <ul class="nav navbar-nav navbar-right ">
                    @Html.ActionLink("Iniciar Sesion", "Login", "Cuenta", new { area = "" }, new { @class = "navbar-brand" })
                </ul>

            }
            @if(Session["idUsuario"]!=null ){
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right ">
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="a" role="button" aria-haspopup="true" aria-expanded="false">
                                @Session["nombreUsuario"] <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Cerrar Sesion", "Logout","Cuenta")</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            }
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Autoventas Cars</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>