﻿@using Autoventas.Models;
@model IEnumerable<Autoventas.Models.Vehiculo>
@{
    ViewBag.Title = "Catalogo";
}
<style>
    div .img {
        min-height: 200px;
    }
</style>
<h2>Vehiculo</h2>
@using (Html.BeginForm())
{
    <p>
        Puedes Buscar Vehiculos Por Marca, Modelo, Tipo o Combustible: <br />@Html.TextBox("search")
        <input type="image" src="~/Recursos/Imgenes/buscar.png" height="50" width="50" align="bottom" />
    </p>
}
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.estado.Equals("En Venta"))
            {
                <div>
                    <div class="col-sm-4 -md-4">
                        <div class="thumbnail">
                            @if (item.archivos != null)
                            {
                                <img src="~/Archivo/ObtenerArchivo?id=@item.archivos.First(f => f.tipo== Autoventas.Models.FileType.Imagen).idArchivo" alt="Imagen" class="img" height="175" width="350" />
                            }
                            <div class="caption">
                                @Html.Label("Marca:") @Html.DisplayFor(modelItem => item.marca)<br />
                                @Html.Label("Modelo:") @Html.DisplayFor(modelItem => item.modelo)<br />
                                @Html.Label("Año :") @Html.DisplayFor(modelItem => item.año)<br />
                                @Html.Label("Color") @Html.DisplayFor(modelItem => item.color)<br />
                                @Html.Label("Precio Q") @Html.DisplayFor(modelItem => item.precio)<br />
                                @Html.Label("Combustible") @Html.DisplayFor(modelItem => item.combustible)<br />
                                @Html.Label("Tipo de Vehiculo") @Html.DisplayFor(modelItem => item.tipo)<br />
                                @Html.ActionLink("Detalles", "Details", new { id = item.idVehiculo })<br />
                                @if (Session["idRol"] != null)
                                {
                                    if ("2".Equals(Session["idRol"].ToString()))
                                    {
                                        @Html.ActionLink("Comprar", "Venta", new { id = item.idVehiculo })<br />
                                        @Html.ActionLink("Apartar", "Apartado", new { id = item.idVehiculo })
                                    }
                                    if ("1".Equals(Session["idRol"].ToString()))
                                    {
                                        @Html.ActionLink("Editar", "Edit", new { id = item.idVehiculo })<br />
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.idVehiculo })
                                    }
                                }
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            }
        }
    </div>


