﻿@model Autoventas.Models.Vehiculo
@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            @if (Model.archivos.Any(arch => arch.tipo == Autoventas.Models.FileType.Imagen))
            {
                <div>
                    Imagen
                </div>
                        <div>
                            <img src="~/Archivo/ObtenerArchivo?id=@Model.archivos.First(f => f.tipo== Autoventas.Models.FileType.Imagen).idArchivo" alt="imagen" height="250" width="300">
                        </div>
            }
        </div>
            <div class="col-md-4">
                <dl class="dl-horizontal">
                   
                    <dt>
                        @Html.DisplayNameFor(model => model.marca)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.marca)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.modelo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.modelo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.año)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.año)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.color)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.color)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.precio)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.precio)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.estado)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.estado)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.combustible)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.combustible)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.tipo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.tipo)
                    </dd>

                </dl>
            </div>
        </div>

</div>
<p>
    <br>
    @if (Session["idRol"] != null)
    {
        if ("2".Equals(Session["idRol"].ToString()))
        {
            @Html.ActionLink("Comprar", "Venta", new { id = Model.idVehiculo })
            @ViewBag.apartar
            @Html.ActionLink("Apartar", "Apartado", new { id = Model.idVehiculo })
            @ViewBag.apartar
        }
    }
    @Html.ActionLink("Ir al Catalogo", "Catalogo")
</p>
