﻿@model IEnumerable<Autoventas.Models.Vehiculo>

@{
    ViewBag.Title = "Lista de Vehiculos";
}

<h2>Lista de Vehiculos...</h2>
<p>
    @if (Session["idRol"] != null)
    {
        if ("1".Equals(Session["idRol"].ToString()))
        {
            @Html.ActionLink("Agregar Un Vehiculo", "Create")
            using (Html.BeginForm())
            {
            <p>
                Puedes Buscar Vehiculos Por Marca, Modelo, Tipo o Combustible: @Html.TextBox("search")
                <input type="submit" value="Buscar" />
            </p>
            }
            <table class="table">
                <tr>
                    <th>

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.marca)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.modelo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.año)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.precio) (Q)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tipo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.combustible)
                    </th>
                    <th>

                        @Html.DisplayNameFor(model => model.estado)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td></td>
                        <td>
                            @Html.DisplayFor(modelItem => item.marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.modelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.año)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.combustible)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.estado)
                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Details", new { id = item.idVehiculo }) |
                            @if (Session["idUsuario"] != null)
                            {
                                if ("1".Equals(Session["idRol"].ToString()))
                                {
                                    @Html.ActionLink("Editar", "Edit", new { id = item.idVehiculo })
                                }
                            }
                        </td>
                    </tr>
                }
            </table>

        }
    }
</p>
